
{% extends 'base.html' %}
{% block body %}


<form action="/get_pdf"  method="post" , enctype="multipart/form-data">
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600">Please Upload your PDF file below: </label>
            <input type="file" id="user_file" name="user_file" class="w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>


            <input type="submit">
      </div>
    </div>
          </form>
          <div>
            ,<form action="/payment_cash"  method="post" , enctype="multipart/form-data">
            <label for="name" class="leading-7 text-sm text-gray-600">Please Upload your PDF file below: </label>
            <input type="submit">

          </form>
          </div>

{% endblock %}